@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');


.wBg{
  background-color: #E0B2FF;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
}

.wel{
  color: #EDE7F6;
  text-align: center;
  font-size: 12vh;
  font-family: "Playwrite PL", cursive;
}
.mes{
  text-align: right;
  margin-right: 10%;
  color: aliceblue;
  font-size: 5vh;

}

.b{
  font-size: 1.5rem;
  background-color: violet;
  border-radius: 5px;
  margin-left: 20%;
  cursor: pointer;
}

